name: waifu-api-preprod
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

    ports:
      - "8085:8080"
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8084:80"
    depends_on:
      - backend
    restart: always

  db:
    image: pgvector/pgvector:pg18
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: always

volumes:
  postgres_data:
