[Unit]
Description=Waifu API
After=network.target

[Service]
WorkingDirectory=/path/to/working/directory
ExecStart=/path/to/binary
User=waifu_user
Restart=always

[Install]
WantedBy=multi-user.target

